/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/

@font-face {
	font-family: sakkal-majalla;
	src: url('../assets/majallab.ttf');
	font-weight: bold;
}

@font-face {
	font-family: sakkal-majalla;
	src: url('../assets/majalla.ttf');
	font-weight: normal;
}

body {
	background-color: #000000;
	font-family: sakkal-majalla;
}

.today-background {
	position: fixed;
	left: 17.857142857%; /* (((100 - container_margin*2) / 7) + 5)% */
	top: 0;
	width: 12.857142857%; /* ((100 - container_margin*2) / 7)% */
	height: 100%;
	background-color: #FFFF00;
	z-index: -10;
}

.calendar-container {
	margin: 5%;
	height: 100%;
}

.info-block {
	color: #FFFFFF;
	float: left;
	width: 14.285714286%; /* (100 / 7)% */
	text-align: center;
}

.day-info-block {
	text-transform: uppercase;
	font-size: 2.2em;
	letter-spacing: 0.1em;
}

.date-info-block {
	font-size: 5em;
	font-weight: bold;
	letter-spacing: 0.05em;
	line-height: 0.5em;
	height: 0.5em;
}

.info-block-today {
	color: #000000;
	font-weight: bold;
}
