/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/

@font-face {
	font-family: sakkal-majalla;
	src: url('../assets/majallab.ttf');
	font-weight: bold;
}

@font-face {
	font-family: sakkal-majalla;
	src: url('../assets/majalla.ttf');
	font-weight: normal;
}

body {
	background-color: #000000;
	font-family: sakkal-majalla;
}

.settings-button {
	position: absolute;
	left: 3%;
	top: 3%;
}
